.home {
    width: 100%;
    color: var(--c-txt-s);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.paragraph {
    position: relative;
    left: 10%;
    right: 10%;
    margin: 10px;
    margin: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c-txt-p);
}

.paragraph > .title {
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: var(--c-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.paragraph > .title > h1 {
    padding: 10px;
}

.paragraph > .text {
    
    width: calc(100% - 40px);
    line-height: 20px;
    padding: 20px;
    background-color: var(--c-foreground);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 5px var(--c-primary);
}

.paragraph > .text > h3 {
    color: var(--c-txt-s);
    line-height: 25px;
    user-select: none;
}

.paragraph > .text > .line-jump {
    height: 5px;
    width: 100%;
}

.text > h3:hover {
    border-right: solid 5px var(--c-primary)
}

.self {
    justify-content: center;
    display: flex;
    width: 100%;
}

.photo {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.photo > h1 {
    text-align: center;
    width: 100%;
}

.photo > img {
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--c-primary);
}